<% content_for :title, "Editing movie" %>

<div class="movie-details card">
  <h1 class="movie-title">Editing movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div class="button-group">
    <%= link_to "Show this movie", @movie, class: 'btn btn-info' %>
    <%= link_to "Back to movies", movies_path, class: 'btn btn-secondary' %>
  </div>
</div>
