th {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
}

.sorted.sorted-asc {
    background-color: #e2e6f2;
    color: blue;
}

.sorted.sorted-desc {
    background-color: #f2e2e6;
}

td.highlighted-column.sorted-asc {
    background-color: #e2e6f2;
    color: blue;
}

td.highlighted-column.sorted-desc {
    background-color: #f2e2e6;
    color: red;
}
